.root {
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  height: 5em;
}
.medium {
  height: 7em;
}
.large {
  height: 9em;
}
.huge {
  height: 11em;
}
.extreme {
  height: 13em;
}
.bgLight {
  background: #c0c0c0;
  color: rgb(43, 43, 43);
}
.bgMedium {
  background: #808080;
  color: rgb(43, 43, 43);
}
.bgDark {
  background: #3b3b3b;
  color: white;
}
